<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BBsRs.horoscopeNewEdition"
    android:installLocation="auto"
    android:versionCode="20"
    android:versionName="2.1.9" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="org.holoeverywhere.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ContentTheme" >
        <activity
            android:name="com.BBsRs.horoscopeFullNew.ContentShowActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/ContentTheme" >
        </activity>
        <activity
            android:name="com.BBsRs.horoscopeFullNew.ActivityLoader"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@style/ContentTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.BBsRs.horoscopeNewEdition.NotificationService" >
        </service>

        <receiver android:name="com.BBsRs.horoscopeNewEdition.BootUpReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.BBsRs.horoscopeNewEdition.ActivityRestarter" >
        </activity>
        <activity
            android:name="com.BBsRs.horoscopeFullNew.Introduce.IntroduceActivityNewTheme"
            android:theme="@style/ContentTheme" >
        </activity>
    </application>

</manifest>